<div class="container bg-light p-3">
    <app-car [car]="car" (saveEmitter)="saveCar()"></app-car>
    <h3>Carros Cadastrados: </h3>
    <table class="table table-light">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Montadora</th>
                <th>Preço</th>
                <th>Ano</th>
                <th class="text-end"> Opções </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of cars">
                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.assembler}}</td>
                <td>{{c.price}}</td>
                <td>{{c.year}}</td>
                <td>
                    <button class="btn btn-success" (click)="update(c)"> Alterar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>